[Desktop Entry]
Name=CopyClip
Comment=Clipboard History Manager
Exec=copyclip
Icon=copyclip
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
